.inventory-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.item{
  margin: 25px; 
  border: 1px solid black; 
  padding: 25px; 
}

.cart-btn:hover{
  background-color: #0072ff;
  cursor: pointer; 
}

.remove-btn:hover{
  background-color: #0072ff;
  cursor: pointer;   
}

#cart-title{
  text-align: center;
  margin-top: 75px;
  margin-bottom: -75px;
}

.cart-container{
  display: flex; 
  margin: 0 auto; 
  margin-top: 100px; 
  border: 1px solid black; 
  height: 250px; 
  width: 800px
}

.cart-item{
  margin-left: 75px; 
  border: 1px solid black; 
  width: 20%; 
  display: inline-block
}
